################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRExam/.vs/HRExam/DesignTimeBuild/.dtbcache.v2
/HRExam/.vs/HRExam
/HRExam/API-Core/bin/Debug/netcoreapp3.1/Sandbox.postman_collection.json
/HRExam/Common/obj/Debug/netcoreapp3.1/Common.csprojAssemblyReference.cache
/HRSystem-Core/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/cs/Microsoft.CodeAnalysis.CSharp.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/de
/HRSystem-Core/bin/Debug/netcoreapp3.1/es
/HRSystem-Core/bin/Debug/netcoreapp3.1/fr/Microsoft.CodeAnalysis.CSharp.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/fr
/HRSystem-Core/bin/Debug/netcoreapp3.1/pl
/HRSystem-Core/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/ko/Microsoft.CodeAnalysis.CSharp.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/ko
/HRSystem-Core/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/ja/Microsoft.CodeAnalysis.CSharp.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/ja
/HRSystem-Core/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/it/Microsoft.CodeAnalysis.CSharp.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/it
/HRSystem-Core/bin/Debug/netcoreapp3.1/ru
/HRSystem-Core/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/pt-BR/Microsoft.CodeAnalysis.CSharp.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/pt-BR
/HRSystem-Core/bin/Debug/netcoreapp3.1/Properties/serviceDependencies.local.json
/HRSystem-Core/bin/Debug/netcoreapp3.1/Properties/serviceDependencies.json
/HRSystem-Core/bin/Debug/netcoreapp3.1/Properties
/HRSystem-Core/bin/Debug/netcoreapp3.1/runtimes
/HRSystem-Core/bin/Debug/netcoreapp3.1/zh-Hant
/HRSystem-Core/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/zh-Hans/Microsoft.CodeAnalysis.CSharp.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/zh-Hans
/HRSystem-Core/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.Workspaces.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/tr/Microsoft.CodeAnalysis.CSharp.resources.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/tr
/HRSystem-Core/bin/Debug/netcoreapp3.1/dotnet-aspnet-codegenerator-design.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Common.pdb
/HRSystem-Core/bin/Debug/netcoreapp3.1/Common.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Text.Json.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Security.Cryptography.ProtectedData.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Runtime.Caching.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Configuration.ConfigurationManager.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Composition.TypedParts.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Composition.Runtime.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Composition.Hosting.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Composition.Convention.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Composition.AttributedModel.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/SQLitePCLRaw.provider.dynamic_cdecl.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/SQLitePCLRaw.nativelibrary.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/SQLitePCLRaw.core.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/SQLitePCLRaw.batteries_v2.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/NuGet.Frameworks.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Identity.Client.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyModel.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.SqlServer.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Sqlite.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.DotNet.PlatformAbstractions.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Data.Sqlite.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Data.SqlClient.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Workspaces.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.Razor.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
/HRSystem-Core/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Razor.Language.dll
/HRSystem-Core/obj/Debug/netcoreapp3.1/Razor/Views/Employee
/HRSystem-Core/Properties
